body {
  font-family: Open, sans-serif;
  margin: 0;
  padding: 0;
  background-color: #f9f9f9;
}

.container {
  width: 80%;
  margin-left: 30px;
  text-align: left;
}

.title {
  color: #0c0c0c;
  font-weight: bold;
  margin-top: 30px;
  margin-left: 20px;
  font-size: 40px;
}

.subtitle {
  color: #555;
  font-size: 14px;
  margin-bottom: 20px;
  margin-left: 23px;
  font-size: 28px;
}

.product {
  display: flex;
  align-items: center;
  background: white;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
}

.product-image {
  width: 100px;
  height: 100px;
  border-radius: 8px;
}

.product-details {
  margin-left: 100px;
  margin-top: -150px;
}

.product-title {
  color: #0a0a0a;
  font-size: 40px;
  font-weight: bold;
}

.product-description {
  color: #555;
  font-size: 28px;
}

.rating {
  color: red;
  font-size: 28px;
}

.price {
  font-size: 28px;
  margin: 10px 0;
}

.old-price {
  text-decoration: line-through;
  color: #888;
}

.new-price {
  font-weight: bold;
  color: black;
}

.purchase-btn {
  background-color: #002366;
  color: white;
  border: none;
  padding: 10px 15px;
  border-radius: 5px;
  cursor: pointer;
  font-size: 30px;
}
